# This is a .dockerignore file that specifies files and directories to ignore when building a Docker image.
*.ckpt
*.pth
*.safetensors
hunyuan3d-dit-v2-1/model.fp16.ckpt
hunyuan3d-paint-v2-1/

save_dir/
outputs/
output/
salida/
logs/
__pycache__/
.ipynb_checkpoints/
.DS_Store

*.obj
*.glb
*.stl
*.ply

venv/
.env/
.venv/

.idea/
.vscode/
.mypy_cache/
.pylint.d/
*.log
*.tmp
*.swp
*.bak
.coverage
coverage.xml

assets/example_images/
assets/env_maps/
assets/qrcode/
